{% extends "admin.html" %}


{% block stylesheet %}
    <link href="/static/css/admin.css" rel="stylesheet" media="screen">
    <link href="/static/css/admin_partida.css" rel="stylesheet" media="screen">
{% endblock %}


{% block content_admin %}

    <div id="table_game1"></div>
    <div id="table_game2"></div>
    <div id="table_game3"></div>
    <div id="table_game4"></div>
    <div class="page_button_right"> <button class="bx bx-push bx-redstencil" type="button" onclick="partida_list()" name="list">List Games</button></div>


{% endblock %}

{% block javascript %}

        <script>

            function partida_list() {
                window.location.href = '/es/admin/partida_list'
            }

            function tancarPartida(num_partida) {
                //console.log("Tancant partida " + num_partida);
                $.ajax({
                    url: '/es/ws/tancar_partida/'+num_partida+'/'
                });
            }

            function tancarRonda(num_partida) {
                //console.log("Tancant ronda " + num_partida);
                $.ajax({
                    url: '/es/ws/tancar_ronda/'+num_partida+'/'
                });
            }

            function detailPartida(num_partida) {
                window.location.href = '/es/admin/partida_detail/'+num_partida+'/'
            }

            function update_estat() {
                $.ajax({
                    url: '/es/ws/estat_partida/',
                    success: function(data) {

                        console.log(data)
                        ///// Game 1

                        $("#table_game1").empty();

                        var table = '<table style="width=50%;">';
                        table += "<tr style='cellpadding:10;'>";
                        table += "<td colspan=8 style=font-size:16px;font-weight:bold;cell>Game 1</td>";
                        table += "</tr>";

                        if (data.actives_game1.length != 0) {

                            table += "<tr style='cellpadding:10;'>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>id</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>estat</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>dia</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>creacio</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>inici</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>fin</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell># users</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>users</td>";
                            table += "</tr>";

                            for (var i = 0; i < data.actives_game1.length; i++) {
                                table += "<tr style='cellpadding:10;'>";
                                table += "<td style=font-size:12px;font-weight:bold;color:navy;cell>" + data.actives_game1[i].id + "</td>";
                                table += "<td style=font-size:12px;cell;font-weight:bold;color:navy;cell>" + data.actives_game1[i].estat + "</td>";
                                table += "<td style=font-size:12px;cell>" + data.actives_game1[i].dia + "</td>";
                                table += "<td style=font-size:12px;cell>" + data.actives_game1[i].data_creacio + "</td>";
                                table += "<td style=font-size:12px;cell>" + data.actives_game1[i].data_inicialitzacio + "</td>";
                                table += "<td style=font-size:12px;cell>" + data.actives_game1[i].data_finalitzacio + "</td>";
                                table += "<td style=font-size:12px;font-weight:bold;color:navy;cell>" + data.actives_game1[i].usuaris_registrats + "</td>";
                                table += "<td style=font-size:12px;font-weight:bold;color:navy;cell>" + data.actives_game1[i].users + "</td>";
                                table += '<td><button onclick="detailPartida(' + data.actives_game1[i].id + ')" class="bx-push bx bx-redstencil" style="width:30px;height:30px;font-size:14px;padding:0px 0px 0px 0px;">' + "i" + '</button></td>'
                                table += "</tr>";
                                if (data.actives_game1[i].usuaris_registrats > data.actives_game1[i].users.length
                                        && data.actives_game1[i].estat == "JUGANT"
                                        && data.actives_game1[i].users.length > 0) {
                                    table += "<tr style='cellpadding:10;'>";
                                    table += "<td colspan=8 style=font-size:12px;font-weight:bold;color:red;cell>201: Acabant la partida, falta un usuari per abandonar la partida</td>";
                                    table += "</tr>";
                                }
                                if (data.actives_game1[i].usuaris_registrats > data.actives_game1[i].users.length
                                        && data.actives_game1[i].estat == "JUGANT"
                                        && data.actives_game1[i].users.length == 0) {
                                    table += "<tr style='cellpadding:10;'>";
                                    table += "<td colspan=8 style=font-size:12px;font-weight:bold;color:red;cell>203: No hi ha cap usuari actiu a la partida</td>";
                                    table += "</tr>";
                                }

                            }

                            if (data.actives_game1.length > 1) {
                                table += "<tr style='cellpadding:10;'>";
                                table += "<td colspan=8 style=font-size:12px;font-weight:bold;color:red;cell>202: Hi ha massa partides actives a l’hora.</td>";
                                table += "</tr>";
                            }

                        } else {
                            table += "<tr style='cellpadding:10;'>";
                            table += "<td colspan=8 style=font-size:12px;font-weight:bold;cell>NO HI HA PARTIDES ACTIVES</td>";
                            table += "</tr>";
                        }

                        if (data.last_finished_game1.error == 'no_games') {
                            var text = '-'
                        } else {
                            var text = 'Darrera: '
                                    + data.last_finished_game1.dia + ', '
                                    + data.last_finished_game1.data_finalitzacio + '. '
                                    + data.last_finished_game1.usuaris_registrats + ' usuaris'
                                    + ' (' + data.last_finished_game1.users + ')'
                        }
                        table += "<tr style='cellpadding:10;'>";
                        table += "<td colspan=8 style=font-size:12px;cell>" + text + "</td>";
                        table += "</tr>";


                        $("#table_game1").append(table);

                        ///// Prisoner 2

                        $("#table_game2").empty();
                        var table = '<table style="width=50%;">';
                        table += "<tr style='cellpadding:10;'>";
                        table += "<td colspan=8 style=font-size:16px;font-weight:bold;cell>Game 2</td>";
                        table += "</tr>";

                        if (data.actives_game2.length != 0) {

                            table += "<tr style='cellpadding:10;'>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>id</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>estat</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>dia</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>creacio</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>inici</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>fin</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell># users</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>users</td>";
                            table += "</tr>";

                            for (var i = 0; i < data.actives_game2.length; i++) {
                                table += "<tr style='cellpadding:10;'>";
                                table += "<td style=font-size:12px;font-weight:bold;color:navy;cell>" + data.actives_game2[i].id + "</td>";
                                table += "<td style=font-size:12px;cell;font-weight:bold;color:navy;cell>" + data.actives_game2[i].estat + "</td>";
                                table += "<td style=font-size:12px;cell>" + data.actives_game2[i].dia + "</td>";
                                table += "<td style=font-size:12px;cell>" + data.actives_game2[i].data_creacio + "</td>";
                                table += "<td style=font-size:12px;cell>" + data.actives_game2[i].data_inicialitzacio + "</td>";
                                table += "<td style=font-size:12px;cell>" + data.actives_game2[i].data_finalitzacio + "</td>";
                                table += "<td style=font-size:12px;font-weight:bold;color:navy;cell>" + data.actives_game2[i].usuaris_registrats + "</td>";
                                table += "<td style=font-size:12px;font-weight:bold;color:navy;cell>" + data.actives_game2[i].users + "</td>";
                                table += '<td><button onclick="detailPartida(' + data.actives_game2[i].id + ')" class="bx-push bx bx-redstencil" style="width:30px;height:30px;font-size:14px;padding:0px 0px 0px 0px;">' + "i" + '</button></td>'
                                table += "</tr>";

                                if (data.actives_game2[i].usuaris_registrats > data.actives_game2[i].users.length
                                        && data.actives_game2[i].estat == "JUGANT"
                                        && data.actives_game2[i].users.length > 0) {
                                    table += "<tr style='cellpadding:10;'>";
                                    table += "<td colspan=8 style=font-size:12px;font-weight:bold;color:red;cell>201: Acabant la partida, falta un usuari per abandonar la partida</td>";
                                    table += "</tr>";
                                }
                                if (data.actives_game2[i].usuaris_registrats > data.actives_game2[i].users.length
                                        && data.actives_game2[i].estat == "JUGANT"
                                        && data.actives_game2[i].users.length == 0) {
                                    table += "<tr style='cellpadding:10;'>";
                                    table += "<td colspan=8 style=font-size:12px;font-weight:bold;color:red;cell>203: No hi ha cap usuari actiu a la partida</td>";
                                    table += "</tr>";
                                }

                            }

                            if (data.actives_game2.length > 1) {
                                table += "<tr style='cellpadding:10;'>";
                                table += "<td colspan=8 style=font-size:12px;font-weight:bold;color:red;cell>202: Hi ha massa partides actives a l’hora.</td>";
                                table += "</tr>";
                            }


                        } else {
                            table += "<tr style='cellpadding:10;'>";
                            table += "<td colspan=8 style=font-size:12px;font-weight:bold;cell>NO HI HA PARTIDES ACTIVES</td>";
                            table += "</tr>";
                        }

                        if (data.last_finished_game2.error == 'no_games') {
                            var text = '-'
                        } else {

                            var text = 'Darrera: '
                                    + data.last_finished_game2.dia + ', '
                                    + data.last_finished_game2.data_finalitzacio + '. '
                                    + data.last_finished_game2.usuaris_registrats + ' usuaris'
                                    + ' (' + data.last_finished_game2.users + ')'
                        }
                        table += "<tr style='cellpadding:10;'>";
                        table += "<td colspan=8 style=font-size:12px;cell>" + text + "</td>";
                        table += "</tr>";

                        $("#table_game2").append(table);

                        ///// Dictator 1

                        $("#table_game3").empty();
                        var table = '<table style="width=50%;">';
                        table += "<tr style='cellpadding:10;'>";
                        table += "<td colspan=8 style=font-size:16px;font-weight:bold;cell>Game 3</td>";
                        table += "</tr>";

                        if (data.actives_game3.length != 0) {

                            table += "<tr style='cellpadding:10;'>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>id</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>estat</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>dia</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>creacio</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>inici</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>fin</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell># users</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>users</td>";
                            table += "</tr>";

                            for (var i = 0; i < data.actives_game3.length; i++) {
                                table += "<tr style='cellpadding:10;'>";
                                table += "<td style=font-size:12px;font-weight:bold;color:navy;cell>" + data.actives_game3[i].id + "</td>";
                                table += "<td style=font-size:12px;font-weight:bold;color:navy;cell>" + data.actives_game3[i].estat + "</td>";
                                table += "<td style=font-size:12px;cell>" + data.actives_game3[i].dia + "</td>";
                                table += "<td style=font-size:12px;cell>" + data.actives_game3[i].data_creacio + "</td>";
                                table += "<td style=font-size:12px;cell>" + data.actives_game3[i].data_inicialitzacio + "</td>";
                                table += "<td style=font-size:12px;cell>" + data.actives_game3[i].data_finalitzacio + "</td>";
                                table += "<td style=font-size:12px;cell;font-weight:bold;color:navy;cell>" + data.actives_game3[i].usuaris_registrats + "</td>";
                                table += "<td style=font-size:12px;font-weight:bold;color:navy;cell>" + data.actives_game3[i].users + "</td>";
                                table += '<td><button onclick="detailPartida(' + data.actives_game3[i].id + ')" class="bx-push bx bx-redstencil" style="width:30px;height:30px;font-size:14px;padding:0px 0px 0px 0px;">' + "i" + '</button></td>'
                                table += "</tr>";
                                if (data.actives_game3[i].usuaris_registrats > data.actives_game3[i].users.length
                                        && data.actives_game3[i].estat == "JUGANT"
                                        && data.actives_game3[i].users.length > 0) {
                                    table += "<tr style='cellpadding:10;'>";
                                    table += "<td colspan=8 style=font-size:12px;font-weight:bold;color:red;cell>201: Acabant la partida, falta un usuari per abandonar la partida</td>";
                                    table += "</tr>";
                                }
                                if (data.actives_game3[i].usuaris_registrats > data.actives_game3[i].users.length
                                        && data.actives_game3[i].estat == "JUGANT"
                                        && data.actives_game3[i].users.length == 0) {
                                    table += "<tr style='cellpadding:10;'>";
                                    table += "<td colspan=8 style=font-size:12px;font-weight:bold;color:red;cell>203: No hi ha cap usuari actiu a la partida</td>";
                                    table += "</tr>";
                                }

                            }

                            if (data.actives_game3.length > 1) {
                                table += "<tr style='cellpadding:10;'>";
                                table += "<td colspan=8 style=font-size:12px;font-weight:bold;color:red;cell>202: Hi ha massa partides actives a l’hora.</td>";
                                table += "</tr>";
                            }

                        } else {
                            table += "<tr style='cellpadding:10;'>";
                            table += "<td colspan=8 style=font-size:12px;font-weight:bold;cell>NO HI HA PARTIDES ACTIVES</td>";
                            table += "</tr>";
                        }

                        if (data.last_finished_game3.error == 'no_games') {
                            var text = '-'
                        } else {
                            var text = 'Darrera: '
                                    + data.last_finished_game3.dia + ', '
                                    + data.last_finished_game3.data_finalitzacio + '. '
                                    + data.last_finished_game3.usuaris_registrats + ' usuaris'
                                    + ' (' + data.last_finished_game3.users + ')'
                        }
                        table += "<tr style='cellpadding:10;'>";
                        table += "<td colspan=8 style=font-size:12px;cell>" + text + "</td>";
                        table += "</tr>";

                        $("#table_game3").append(table);


                        
                        ///// Snowdrift 1

                        $("#table_game4").empty();
                        var table = '<table style="width=50%;">';
                        table+="<tr style='cellpadding:10;'>";
                        table+="<td colspan=8 style=font-size:16px;font-weight:bold;cell>Game 4</td>";
                        table+="</tr>";

                        if (data.actives_game4.length != 0) {

                            table += "<tr style='cellpadding:10;'>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>id</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>estat</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>dia</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>creacio</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>inici</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>fin</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell># users</td>";
                            table += "<td style=font-size:14px;font-weight:bold;cell>users</td>";
                            table += "</tr>";

                            for (var i = 0; i < data.actives_game4.length; i++){
                                table += "<tr style='cellpadding:10;'>";
                                table += "<td style=font-size:12px;font-weight:bold;color:navy;cell>" + data.actives_game4[i].id + "</td>";
                                table += "<td style=font-size:12px;font-weight:bold;color:navy;cell>" + data.actives_game4[i].estat + "</td>";
                                table += "<td style=font-size:12px;cell>" + data.actives_game4[i].dia + "</td>";
                                table += "<td style=font-size:12px;cell>" + data.actives_game4[i].data_creacio + "</td>";
                                table += "<td style=font-size:12px;cell>" + data.actives_game4[i].data_inicialitzacio + "</td>";
                                table += "<td style=font-size:12px;cell>" + data.actives_game4[i].data_finalitzacio + "</td>";
                                table += "<td style=font-size:12px;cell;font-weight:bold;color:navy;cell>" + data.actives_game4[i].usuaris_registrats + "</td>";
                                table += "<td style=font-size:12px;font-weight:bold;color:navy;cell>" + data.actives_game4[i].users + "</td>";
                                table += '<td><button onclick="detailPartida(' + data.actives_game4[i].id + ')" class="bx-push bx bx-redstencil" style="width:30px;height:30px;font-size:14px;padding:0px 0px 0px 0px;">' + "i" + '</button></td>'
                                table += "</tr>";
                                if (data.actives_game4[i].usuaris_registrats > data.actives_game4[i].users.length
                                        && data.actives_game4[i].estat == "JUGANT"
                                        && data.actives_game4[i].users.length > 0){
                                    table+="<tr style='cellpadding:10;'>";
                                    table+="<td colspan=8 style=font-size:12px;font-weight:bold;color:red;cell>201: Acabant la partida, falta un usuari per abandonar la partida</td>";
                                    table+="</tr>";
                                }
                                if (data.actives_game4[i].usuaris_registrats > data.actives_game4[i].users.length
                                        && data.actives_game4[i].estat == "JUGANT"
                                        && data.actives_game4[i].users.length == 0){
                                    table+="<tr style='cellpadding:10;'>";
                                    table+="<td colspan=8 style=font-size:12px;font-weight:bold;color:red;cell>203: No hi ha cap usuari actiu a la partida</td>";
                                    table+="</tr>";
                                }

                            }

                            if (data.actives_game4.length > 1){
                                table+="<tr style='cellpadding:10;'>";
                                    table+="<td colspan=8 style=font-size:12px;font-weight:bold;color:red;cell>202: Hi ha massa partides actives a l’hora.</td>";
                                    table+="</tr>";
                            }

                        }else{
                            table+="<tr style='cellpadding:10;'>";
                            table+="<td colspan=8 style=font-size:12px;font-weight:bold;cell>NO HI HA PARTIDES ACTIVES</td>";
                            table+="</tr>";
                        }
                        if (data.last_finished_game4.error == 'no_games') {
                            var text = '-'
                        } else {
                            var text = 'Darrera: '
                                    + data.last_finished_game4.dia + ', '
                                    + data.last_finished_game4.data_finalitzacio + '. '
                                    + data.last_finished_game4.usuaris_registrats + ' usuaris'
                                    + ' (' + data.last_finished_game4.users + ')'
                        }

                        table+="<tr style='cellpadding:10;'>";
                        table+="<td colspan=8 style=font-size:12px;cell>"+text+"</td>";
                        table+="</tr>";

                        $("#table_game4").append(table );
                        



                        setTimeout(function(){update_estat()}, 500);
                    },
                    error: function(data) {
                        setTimeout(function(){update_estat()}, 500);
                    }
                });
            }

            $(document).ready(function() {
                update_estat();
            });
        </script>

{% endblock %}