{% extends "base.html" %}

{% block title %}{% endblock %}

{% block stylesheet %}
    <link href="/static/css/index.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <div class="topdiv">

        <div class="fons"></div>

        <!--<img class="page_cenefa" src="/static/img/cenefa-vermell-reduced.png" id="page_cenefa"/>-->
        <div class="capsalera_background"></div>
        <!--<img class="page_cenefa" src="/static/img/cenefa-blanc-reduced.png" id="page_cenefa"/>-->
        <div class="agraiment-final">{{ text.final_joc.agraiment| safe }}</div>

        <div class="final_text1" id="text1"></div>

        <img src="/static/img/plain/game1_color.png" height="70px" width="70px" class="logo_game1" id="page_logo_1"/>
        <img src="/static/img/plain/game2_color.png" height="70px" width="70px" class="logo_game2" id="page_logo_2"/>
        <img src="/static/img/plain/game3_color.png" height="70px" width="70px" class="logo_game3" id="page_logo_3"/>
        <img src="/static/img/plain/game4_color.png" height="70px" width="70px" class="logo_game4" id="page_logo_4"/>


        <div class="final_text2" hidden>{{ text.final_joc.text2 }}</div>
        <div class="final_variables2" hidden></div>

        <div class="final_text3" id="final_text3">{{ text.final_joc.text3 }}</div>

        <!-- <div class="final_text7">{{ text.final_joc.text7 }}</div> -->
        <div class="final_text8" id="text8"></div>
        <div class="final_text9" id="text9"></div>

        <div class="final_text4">{{ text.final_joc.text4 | safe}}</div>

        <div class="final_text5">{{ text.final_joc.text5 }}</div>

        <div class="final_text6">{{ text.final_joc.text6 }}</div>
        <div class="final_variables6"></div>


        <!-- Joc del corredor -->
        <!-- <div class="resum_text resum_dictator">{{ text.final_joc.text_resultat2 }}</div> -->
        <!-- <div class="resum_valor resum_dictator_valor">{{ resultat_dictator }}</div> -->
        <!-- Joc del premi -->
        <!-- <div class="resum_text resum_prisoner ">{{ text.final_joc.text_resultat3 }}</div> -->
        <!-- <div class="resum_valor resum_prisoner_valor">{{ resultat_prisoner }}</div> -->
        <!-- Joc del inversor -->
        <!-- <div class="resum_text resum_trust">{{ text.final_joc.text_resultat4 }}</div> -->
        <!-- <div class="resum_valor resum_trust_valor">{{ resultat_trust }}</div> -->
        <!--
        <div class="resum_text resum_premi">{{ text.final_joc.text_resultat5 }}</div>
        <div class="resum_valor resum_premi_valor">{{ resultat_premi }}</div>
         -->
        <!-- Resultat total  -->
        <!-- <div class="resum_text resum_total">{{ text.final_joc.text_resultat6 }}</div> -->
        <!-- <div class="resum_valor resum_total_valor">{{ resultat_total }}</div> -->

        <!-- <div class="resum_text resum_abacus">{{ text.final_joc.text_resultat7 }}</div> -->
        <!-- <div class="resum_valor resum_abacus_valor">{{ vals }} {{text.final_joc.vals}}</div> -->
        <!--
        <!-- <div class="text_correu">{{ text.final_joc.text_correu | safe }}</div>
        -->
        <hr class="separador-bottom" />

        <div class="vull-jugar">
            <form method="post" action="/{{ lang }}/">
                <button class="bx bx-push bx-redstencil">
                    {{ text.final_joc.boto }}
                </button>
            </form>
        </div>

        <!--<img id="imatge_logos" src="/static/img/logos/all_logos.png"/>-->

    </div>

{% endblock %}

{% block javascript %}
    <script>

    $(document).ready(function() {
        console.log('{{resultats}}')
        console.log('{{finalitzats}}')

        var text_casetes_acabades = ""

        var punts_game1 = (parseFloat('{{resultats.0}}')/parseFloat('{{max.0}}'))*100
        var punts_game2 = (parseFloat('{{resultats.1}}')/parseFloat('{{max.1}}'))*100
        var punts_game3 = (parseFloat('{{resultats.3}}')/parseFloat('{{max.2}}'))*100
        var punts_game4 = (parseFloat('{{resultats.2}}')/parseFloat('{{max.3}}'))*100


        $(".final_variables2").text(Math.round(punts_game1 + punts_game2 + punts_game3 + punts_game4) + ' ' +'{{text.common.punts}}')
        $(".final_variables6").text('{{nickname}}')

         var text_casetes_no_acabades = ""

        if ('{{finalitzats.0}}' == 0){ // Game 1
            console.log('Game 1')
            $("#page_logo_1").hide();
        }
        if ('{{finalitzats.1}}' == 0) { // Game 2
            console.log('Game 2')
            $("#page_logo_2").hide();
        }
        if ('{{finalitzats.2}}' == 0){ // Game 3
            console.log('Game 3')
            $("#page_logo_3").hide();
        }
        if ('{{finalitzats.3}}' == 0){ // Game 4
            console.log('Game 4')
            $("#page_logo_4").hide();
        }

        if (('{{finalitzats.0}}' == 1) && ('{{finalitzats.1}}' == 1) && ('{{finalitzats.2}}' == 1) && ('{{finalitzats.3}}' == 1)){ // 4 GAMES
            console.log('tot acabat')
            $("#final_text3").hide();
        }else{
            $("#final_text3").show();

        }

        console.log('{{ game }}')

        if ('{{ game }}' == 'standard'){
            $("#text1").text('{{text.final_joc.text1_1}}');
            $("#text8").html('{{text.final_joc.text8_1}}');
            $("#text9").html('{{text.final_joc.text9_1}}');

        }
        if ('{{ game }}' == 'interact'){
            $("#text1").text('{{text.final_joc.text1_2}}');
            $("#text8").text('{{text.final_joc.text8_2}}');
            $("#text9").text('{{text.final_joc.text9_2}}');
        }
        if ('{{ game }}' == 'voice'){
            $("#text1").text('{{text.final_joc.text1_3}}');
            $("#text8").text('{{text.final_joc.text8_3}}');
            $("#text9").hide();
        }
        if ('{{ game }}' == 'wall'){
            $("#text1").text('{{text.final_joc.text1_4}}');
            $("#text8").text('{{text.final_joc.text8_4}}');
            $("#text9").hide();
        }





    });



    </script>
{% endblock %}
