{% extends "base.html" %}

{% block stylesheet %}
    <link href="/static/css/inici.css" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}{{ text.inici.titol_pagina }} | {{ user.nickname }}{% endblock %}

{% block content %}

    <div class="topdiv-centered">

        <div class="user_info">
            <span class="glyphicon glyphicon-user" style="margin-left: 20px;"></span>
            {{ user.nickname }}
        </div>


        <div class="capsalera_background"></div>

        <div class="page_title">{{ text.inici.titol }}</div>

        <hr class="separador-top" />


        <div class="text_inici">
        {{ text.inici.text_inici | safe}}
        </div>

        <form method="post" action="/{{ lang }}/user/inici">

            <button id="boto_jugar"
                    type="submit" name="jugar" class="bx-push bx bx-redstencil" >
                {{ text.inici.boto | safe}}
            </button>
        </form>


        <div class="error_partida">
            {% if error_partida %}{{ text.inici.error_partida | safe }}{% endif %}
        </div>

        <hr class="separador-bottom" />

        <div class="page_button_right">
            <button id="boto_sortir" type="button" onclick="location.href='/{{ lang }}/game/tutorial'" name="logout" class="bx-push bx bx-white" >
                {{  text.inici.repetir_tutorial }}
            </button>
        </div>

        <div class="page_button_left">
            <button id="boto_sortir" type="button" onclick="location.href='/{{ lang }}/user/logout'" name="logout" class="bx-push bx bx-white" >
                {{ text.common.sortir_joc }}
            </button>
        </div>

    </div>

{% endblock %}