{% extends "base.html" %}

{% block stylesheet %}
    <link href="/static/css/joc_prisoner.css" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}{{ text.joc_prisoner1.titol_pagina }}{% endblock %}

{% block content %}

    <div class="topdiv-centered">


        <!--<div class="capsalera_background"></div>-->
        <img src="/static/img/plain/game1_color.png" height="50px" width="50px" class="page_logo" id="page_logo_1" hidden/>
        <img src="/static/img/plain/game2_color.png" height="50px" width="50px" class="page_logo" id="page_logo_2" hidden/>
        <img src="/static/img/plain/game3_color.png" height="50px" width="50px" class="page_logo" id="page_logo_3" hidden/>
        <img src="/static/img/plain/game4_color.png" height="50px" width="50px" class="page_logo" id="page_logo_4" hidden/>
        <!--<div class="page_title">{{ text.joc_prisoner1.titol2 }}</div>-->
        <!--<hr class="separador-top" />-->

        <div class="text_info2">{{ text.joc_prisoner1.text2 | safe }}</div>

        <table class="taula_resum2" width="800px;">
            <tr>
                <th>{{ text.joc_prisoner1.si_tu }}</th>
                <th>{{ text.joc_prisoner1.i_ell }}</th>
                <th>{{ text.joc_prisoner1.tu_guanyes }}</th>
                <th>{{ text.joc_prisoner1.ell_guanya }}</th>
            </tr>
            <tr>
                <td>{{ text.joc_prisoner1.text_mantener }}</td>
                <td>{{ text.joc_prisoner1.text_mantener }}</td>
                <td>10 {{ text.common.monedes }}</td>
                <td>10 {{ text.common.monedes }}</td>
            </tr>
            <tr>
                <td>{{ text.joc_prisoner1.text_mantener }}</td>
                <td>{{ text.joc_prisoner1.text_incrementar }}</td>
                <td>5 {{ text.common.monedes }}</td>
                <td>15 {{ text.common.monedes }}</td>
            </tr>
            <tr>
                <td>{{ text.joc_prisoner1.text_incrementar }}</td>
                <td>{{ text.joc_prisoner1.text_mantener }}</td>
                <td>15 {{ text.common.monedes }}</td>
                <td>5 {{ text.common.monedes }}</td>
            </tr>
            <tr>
                <td>{{ text.joc_prisoner1.text_incrementar }}</td>
                <td>{{ text.joc_prisoner1.text_incrementar }}</td>
                <td>0 {{ text.common.monedes }}</td>
                <td>0 {{ text.common.monedes }}</td>
            </tr>
        </table>



         <div class="text_info4">{{ text.joc_prisoner1.text3 | safe }}</div>

             <hr class="separador-bottom" />

        <div class="page_button_right">
            <button id="boto_enquesta" type="button" onclick="location.href='/{{ lang }}/user/joc_prisoner1_3'" name="logout" class="bx bx-push bx-redstencil" >
                A JUGAR!!
            </button>
        </div>

    </div>
{% endblock %}

{% block javascript %}
    <script>

    $(document).ready(function() {

        var game = '{{ user.session_game }}';

        if (game == 'standard')$("#page_logo_1").show();
        if (game == 'interact')$("#page_logo_2").show();
        if (game == 'voice')$("#page_logo_3").show();
        if (game == 'wall')$("#page_logo_4").show();

    });

    </script>
{% endblock %}