.image_banks{
    position: absolute;
    top: 98px;
    left: 12px;
    width: 290px;
}

.image_logo {
    position: absolute;
    top: 10px;
    left: 355px;
    width: 180px;
    text-align: left;
}

.image_sublogo {
    position: absolute;
    top: 28px;
    left: 569px;
    width: 370px;
    text-align: left;
}


.text-benvinguda {
    position: absolute;
    top: 25px;
    left: 40px;
    width: 830px;
    font-size: 40px;
    color: #CD1919;
    font-weight: bold;
    font-family: 'PeignotStencilRUN-Demi';
}

.text-benvinguda2 {
    position: absolute;
    top: 280px;
    left: 80px;
    width: 800px;
    font-size: 24px;
    text-align: justify;
}

.text-final {
    position: absolute;
    top: 180px;
    left: 550px;
    width: 435px;
    font-size: 21px;
}

.vull-jugar {
    position: absolute;
    bottom: 35px;
    right: 16px;
    width: 400px;
    text-align: right;
}

.logos_llenguatge {
    position: absolute;
    top: 130px;
    right: 10px;
    text-align: right;
}

.logos_idioma {
    font-size: 22px;
    width: 100px;
    height:50px;
}

.logos {
    font-size: 12px;
    text-align: left;
}

.logos_uni {
    position:absolute;
    top:690px;
    left:0px;
    margin-left: -5px;
}

.logos_colaboradors {
    position:absolute;
    top:690px;
    left:395px;
}

.logos_disseny {
    position:absolute;
    top:690px;
    left:945px;
    width:100px;
}

#imatge_logos {
    height: 180px;
    position: absolute;
    top: 495px;
    left: 100px;
}




.fons {
    z-index: -5;
    top:0;
    left:0;
    width:1024px;
    height:700px ;  /* 490px If logos in the button */
    margin-left: -15px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #FFFFFF 0%, #FFFFFF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #FFFFFF 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #FFFFFF 0%,#FFFFFF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #FFFFFF 0%,#FFFFFF 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #FFFFFF 0%,#FFFFFF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
}


/*******************/
/**** Final Joc ****/
/*******************/

.agraiment-final{
    position: absolute;
    text-align: center;
    top: 28px;
    width: 1024px;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: bold;
}

.final_text1 {
    position: absolute;
    top: 310px;
    left: 60px;
    text-align: center;
    width: 890px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.final_variables1 {
    position: absolute;
    top: 110px;
    left: 60px;
    width: 700px;
    font-size: 22px;
    text-align: left;
    color: #CD1919;
    font-weight: bold;
}

.final_text2 {
    position: absolute;
    top: 160px;
    left: 740px;
    width: 200px;
    font-size: 18px;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
}

.final_variables2 {
    position: absolute;
    top: 180px;
    left: 740px;
    width: 200px;
    font-size: 22px;
    text-align: right;
    color: #CD1919;
    font-weight: bold;
}

.final_text3 {
    position: absolute;
    top: 270px;
    left: 60px;
    width: 890px;
    font-size: 20px;
}

.final_variables3 {
    position: absolute;
    top: 280px;
    left: 60px;
    width: 700px;
    font-size: 22px;
    text-align: left;
    color: #CD1919;
    font-weight: bold;
}

.final_text4 {
    position: absolute;
    top: 480px;
    left: 60px;
    width: 890px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.final_text5 {
    position: absolute;
    text-align: center;
    top: 550px;
    left: 55px;
    width: 900px;
    font-size: 15px;
    font-weight: bold;
}

.final_text6 {
    position: absolute;
    top: 110px;
    left: 740px;
    width: 200px;
    font-size: 18px;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
}

.final_text7 {
    position: absolute;
    top: 340px;
    left: 60px;
    width: 890px;
    font-size: 20px;
}

.final_text8 {
    position: absolute;
    top: 380px;
    left: 60px;
    width: 890px;
    font-size: 20px;
}

.final_text9 {
    position: absolute;
    top: 430px;
    left: 60px;
    width: 890px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #CD1919;

}

.final_variables6 {
    position: absolute;
    top: 130px;
    left: 740px;
    width: 200px;
    font-size: 22px;
    text-align: right;
    color: #CD1919;
    font-weight: bold;
}

.resum_text {
    position: absolute;
    left: 5px;
    width: 300px;
    font-size: 22px;
    text-align: center;
}
/*
.resum_clima {
    top: 130px;

}
*/

/*
.resum_inversor {
    top: 170px;

}
*/
.resum_prisoner {
    top: 170px;

}

.resum_empresari {
    top: 210px;

}

.resum_trust {
    top: 210px;

}
.resum_premi {
    top: 250px;

}

.resum_total {
    top: 300px;
    font-weight: bolder;
    font-size: 26px;

}



.resum_valor {
    position: absolute;
    top: 90px;
    left: 320px;
    width: 890px;
    font-size: 22px;
    font-weight: bolder;
    color: #CD1919;
}
/*
.resum_clima_valor {
    top: 130px;

}
*/
.resum_dictator_valor {
    top: 130px;

}
/*
.resum_inversor_valor {
    top: 170px;

}
*/
.resum_prisoner_valor {
    top: 170px;

}
/*
.resum_empresari_valor {
    top: 210px;

}
*/
.resum_trust_valor {
    top: 210px;

}

.resum_premi_valor {
    top: 250px;

}

.resum_total_valor {
    top: 300px;
    font-weight: bolder;
    font-size: 26px;
}


.resum_abacus {
    top: 180px;
    font-weight: bolder;
    font-size: 30px;
    left: 425px;
    width: 500px;
}

.resum_abacus_valor {
    left: 600px;
    top: 225px;
    font-weight: bolder;
    font-size: 50px;
}

.text_correu{
    position: absolute;
    top: 390px;
    left: 5px;
    width: 660px;
    font-size: 21px;
    font-style: italic;
}

.negrita_correu {
    font-size: 21px;
    font-weight: bolder;
    color: #269abc;
}

/* ToDo: color when the button will be enabled #CD1919 and unable #AAAAAA */

.boto_joc_1 {
    position: absolute;
    top: 180px;
    left: 200px;
    width: 260px;
    height: 160px;
    background-color: #AAAAAA;
    font-size: 36px;
    color: #FFFFFF;
}

.boto_joc_2 {
    position: absolute;
    top: 180px;
    right: 200px;
    width: 260px;
    height: 160px;
    background-color: #AAAAAA;
    font-size: 36px;
    color: #FFFFFF;
}



.boto_joc_3 {
    position: absolute;
    bottom: 177px;
    left: 200px;
    width: 260px;
    height: 160px;
    background-color: #AAAAAA;
    font-size: 36px;
    color: #FFFFFF;
}

.boto_joc_4 {
    position: absolute;
    bottom: 177px;
    right: 200px;
    width: 260px;
    height: 160px;
    background-color: #CD1919;
    font-size: 36px;
    color: #FFFFFF;
}

.logo_game1 {
    position: absolute;
    top: 170px;
    left: 460px;
    text-align: left;
    z-index: 2;
}

.logo_game2 {
    position: absolute;
    top: 170px;
    left: 460px;
    text-align: left;
    z-index: 2;
}

.logo_game3 {
    position: absolute;
    top: 170px;
    left: 460px;
    text-align: left;
    z-index: 2;
}

.logo_game4 {
    position: absolute;
    top: 170px;
    left: 460px;
    text-align: left;
    z-index: 2;
}


